{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <div class="position-relative">{% include '/inc/nav-header.html.twig'%}</div>

    <section class="container-fluid profile">

     {% include 'inc/flashs.html.twig' %}
     
        <div class="row justify-content-center">
          
            <div class="col-md-10 jumbotron">

                <h1 class="h2">Mon profil</h1>

                <hr class="brown">
                    
                    <div class="row">
                        
                        <div class="col row">
                            <h4 class="mb-4">Mes informations personnelles</h4> 
                            <div class="col">
                                <p><strong>Nom: </strong> <br> {{user.fullname}}</p>
                                <p><strong>Adresse mail: </strong><br> {{user.email}}</p>
                            </div>
                            <div class="col">
                                <p><strong>Adresse postale: </strong><br> {{user.fulladdress|raw}}</p>
                            </div>
                            <div class="d-inline-block mt-3">
                                    <a class="btn btn-brown" href="{{path('account_update')}}">Modifier mes informations</a>  
                                    <a class="btn btn-secondary" href="{{path('password_update')}}">Modifier mon mot de passe</a>
                            </div>
                        </div>

                        <div class="col">
                          
                                <h4 class="mb-4">Historique de mes réservations</h4>
                                <div class="row">
                                <hr>
                                
                                    {% for tableBooking in tableBookings %}
                                        <div class="d-flex align-items-baseline justify-content-around">
                                            <div class="flex-grow-2">
                                                <p class="card-title">Réservation n°{% if tableBooking.id < 10 %}0{{tableBooking.id}}{% else %}{{tableBooking.id}}{% endif %}</p>
                                            </div>
                                            <div>
                                                <h6 class="card-subtitle text-muted"><i class="far fa-calendar-alt"></i> {{tableBooking.date|date("d/m/Y")}}</h6>
                                            </div>
                                            <div>
                                                <p class="card-text"><i class="far fa-clock"></i> {{tableBooking.timeSheet}}</p>
                                            </div>
                                            <div>
                                                <p class="card-text"><i class="fas fa-users"></i> {{tableBooking.guests}}</p>
                                            </div>                
                                        </div>
                                        <hr> 
                                    {% endfor %}
                        
                                </div>
                                
                            </div>
                            <hr class="brown mt-3">
                            <h4 class="mb-4">Historique de mes commandes</h4>
                               
                                <div class="card" style="width: 18rem;">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">An item</li>
                                        <li class="list-group-item">A second item</li>
                                        <li class="list-group-item">A third item</li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="#" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a>
                                    </div>
                                </div>
                                
                            

                        </div>
                    </div>
                </div>
                
            </div>            
        </div>
    
    </section>

{% endblock %}
