<main class="container-fluid">
        
        <header class="row">
            <!--info contact + links + dropdown-->
            <div class="col d-flex bg-brown-lighter">
                <p>Panneau administrateur</p>
            </div>
            <div class="col d-flex bg-white align-items-center">
                <p>Restaurant Shangrila</p>
            </div>
            <ul class="nav col d-flex bg-white">

                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{path('homePage')}}" target='_blank'><i class="fa-regular fa-eye"></i> Voir le site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{path('account_logout')}}"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{path('account_login')}}"><i class="fas fa-sign-in-alt"></i> Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('account_register')}}"><i class="far fa-edit"></i> S'inscrire</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="{{asset("/img/lang.jpg")}}" alt="french flag"> FR</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                    <li><a class="dropdown-item" href="#">ES</a></li>
                    <li><a class="dropdown-item" href="#">DE</a></li>
                  </ul>
                </li>
              </ul>
           
        </header>