{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    {% include 'inc/nav-header.html.twig' %}
   
    <section class="container-fluid showMenu">
    {% include './inc/flashs.html.twig' %}
     
        <div class="row justify-content-center">
          
            <div class="col-md-8 jumbotron">
                <div class="row">
                    <div class="col-md-11">
                        <h1 class="h2 mb-2">Paiement accepté ! Votre commande est en cours ...</h1>
                    </div>
                    <div class="col-md-1">
                         <img src="{{asset('img/cookIcon.png')}}" alt="cooking" class="img-fluid">
                    </div>
                </div>

                
                <hr class="brown">
                <div class="row mb-4">
               
                    <div class="col-md-6 mx-auto">
                        {# récapitulatif de la commande #}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Récapitulatif de votre commande</h5>
                                <p class="card-text"><b>Référence: </b>{{order.reference}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Prix: </b>{{order.price}}&euro;</li>
                                <li class="list-group-item"><b>Commandé le : </b>{{order.createdAt|date('d-m-Y')}} à {{order.createdAt|date('H:i')}}</li>
                            </ul>
                            <div class="card-body">
                                <p><b>Votre commande sera livrée dans les plus brefs délais au : </b><br>{{order.deliveryAddress|raw}}</p>
                            </div>
                        </div>
                
                    </div>
                     <div class="col-md-6 mx-auto">
                        {# récapitulatif du menu commandé #}
                            <div class="card">
                                <div class="card-body">
                                        <h5 class="card-title">Formule {{menu.title}}</h5>
                                        <p class="card-text"><i>{{menu.description}}</i></p>
                                </div>
                                <ul class="list-group list-group-flush">
                                {% for meal in menu.meals %}
                                    <li class="list-group-item">{{meal.title}}<p><small><i>{{meal.description}}</i></small></p></li> 
                                {% endfor %}
                                </ul>
                            </div>
                    </div>
                    <div class='d-flex justify-content-end mt-3'>
                   <a href="{{path('homeMenu')}}" class="btn btn-outline-brown m-1">Retour aux menus</a>
                   <a href="{{path('account_home')}}" class="btn btn-brown m-1">Voir ma commande</a>
                   </div>

                </div>

                
            </div>            
        </div>
    
    </section>
{% endblock %}



